/* Site Warranty */
.sw_shortcode{
	background-color: #bbb;
	width: 362px;
	height: 50px;
	line-height: 50px;
	padding: 10px 0 7px 30px;
	font-weight: 600;
}
.setting_err {
	background-color: #FFCCCC;
	padding: 10px;
	width: 362px;
	margin-top: 10px;
	border: solid 1px #FF0000;
	border-radius: 5px;
	min-height: 40px;
	line-height: 40px;
}
.signup{
	width: 85px;
	background-color: #fff;
	height: 40px;
	padding-right: 20px;
	margin-left: 250px;
	padding: 0px 0px 0px 20px;
	border-radius: 7px;
}
.setting_err a{
text-decoration: none;
color: #7C7C7C;
}
.sw_size{
width:45px;
}
.sw_add{
	width:400px;
}
.sw_fb{
float: right;
margin-right: 70px;
}
.sw_fb_txt{
font-size: 15px;
float: left;
margin-left: 90px;
line-height: 25px;
}
.sw_add #im{
margin-left: 90px;
margin-top: 30px;
}

.err_id{
display:none;
}
.err_id img{
height: 15px;
float: right;
cursor: pointer;
}


/* sitewarranty-woocommerce */

#edit-css{
width: 598px;
height: 397px;
resize: none;
overflow: auto;
}